
.groceryDiv {
border-radius: 10px;
border: solid;
margin: 10px;
padding: 10px;
border-radius: ;
color: honeydew;
text-shadow: 1px 1px blueviolet;
font-size: 30px;
box-shadow:  1em 1em 1em green;
background-image: linear-gradient(to right, green, yellow);
}
.listDiv{
border-radius: 10px;
border: solid;
margin: 10px;
padding: 10px;
border-radius: ;
color: honeydew;
text-shadow: 1px 1px blueviolet;
font-size: 30px;
box-shadow:  1em 1em 1em yellow;
background-image: linear-gradient(to right, yellow, green);



}
ul{
    list-style: none;
}
button{
    color: honeydew;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right, yellow, green);
    text-shadow: 1px 1px blueviolet;
    box-shadow: 10px 10px 10px black ;
}

    
